/.bash_history
/.bash_logout
/.bashrc
/.bundle/
/.cache/
/.cargo/
/.config/
/.cpanm/
/.gitconfig
/.local.env
/.local/
/.npm/
/.perl-cpm/
/.profile
/.rustup/
/.ssh/
/.x
/.vscode
/bench
/env.sh
/go/
/local/
